@media screen and (max-width:576px){
    .hijo{
        .logo{
            padding: 10px;
        }
    }
    .navBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
            li a{
                font-size: 0.9rem;
            }
    }
    .hijo2{
        .heroIndex{
            display: flex;
            flex-direction: column;
            margin: 30px 0;    
            h1{
                font-size: 1.2rem;
                padding: 20px;
            }
            .fotoControlRoom{
                width: 10rem;
            }
            .fotoPin{
                width: 10rem;
            }
        } 
        .redes{
            display: flex;
            justify-content: center;
            flex-direction: row wrap;
            align-items: center;
            padding: 0px;
            #instagram{
                width: 50px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            #youtube{
                width: 92px;
                margin-right: 20px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            #whatsapp{
                width: 52px;
                border-radius: 10px;
                &:hover{
                    transform:scale(1.05)
                }
            }
            }
        } 
    .hijo3{
        p{
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 0.6rem;
        }
    }
}